!-----------------------------------------------------------------------
! URxvt configs
!-----------------------------------------------------------------------
URxvt*imLocale: en_US.UTF-8

!FONTS
URxvt.font: xft:UbuntuMono Nerd Font:size=13, \
	    xft:Inconsolata Nerd Font Mono:size=13, \
	    xft:DejaVuSansMono Nerd Font:size=13, \
	    xft:DroidSansMono Nerd Font:size=13, \
	    xft:DejaVu Serif:size=13, \
	    xft:JoyPixels:size=13, \
	    xft:FuraMono Nerd Font:size=13, \
	    xft:RobotoMono Nerd Font:size=13

!Scrolling
URxvt.scrollBar: false
URxvt*scrollWithBuffer: true

!Colors
URxvt*background: [100]#292d3e
URxvt*foreground: #bbc5ff
URxvt*cursorColor: #bbc5ff

URxvt*transparent: false
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline fg5

!----------------------------------------------------------------------
! Global Settings
!----------------------------------------------------------------------

! fg and bg
!*foreground:    #bbc5ff
!*background:    #292d3e

! black
*.color0:       #101010
*.color8:       #434758

! red
*.color1:       #f07178
*.color9:       #ff8b92

! green
*.color2:       #c3e88d
*.color10:      #ddffa7

! yellow
*.color3:       #ffcb6b
*.color11:      #ffe585

! blue
*.color4:       #82aaff
*.color12:      #9cc4ff

! magenta
*.color5:       #c792ea
*.color13:      #e1acff

! cyan
*.color6:       #89ddff
*.color14:      #a3f7ff

! white
*.color7:       #d0d0d0
*.color15:      #ffffff
