!----------------------------
!Global Color Settings
!----------------------------

!*.font:
!*.alpha:

*.background:   #141c21
*.foreground:   #f5f5f5

! black
*.color0:       #101010
*.color8:       #434758

! red
*.color1:       #d50000
*.color9:       #ff5135

! green
*.color2:       #64dd17
*.color10:      #9cff57

! yellow
*.color3:       #ffd600
*.color11:      #ffff52

! blue
*.color4:       #0d47a1
*.color12:      #5472d3

! magenta
*.color5:       #8e24aa
*.color13:      #c158dc

! cyan
*.color6:       #00e5ff
*.color14:      #6effff

! white
*.color7:       #d0d0d0
*.color15:      #ffffff
